<nav class="navbar  navbar-expand-sm navbar-dark bg-danger">
    <a class="navbar-brand" href="/">
        API - Test
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a  class="nav-link" href="/create">Create Account</a>
        </li>

        <li class="nav-item">
            <a  class="nav-link" href="/login">Login</a>
        </li>
    </ul>
</nav>
